:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* временно
.page-header {
  background-color: teal;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Логотип */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

/* Главная навигация */
.main-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Контакты хедер*/
.contacts-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.main-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

.main-nav .link.current {
  color: var(--accent-color);
}

/* Блок герой, футер*/
.hero,
.footer {
  background-color: #2f303a;
}

.hero {
  text-align: center;
}

.hero-title {
  color: #ffffff;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;

  cursor: pointer;
}

.hero-btn {
  padding: 10px 32px;
  min-width: 200px;

  background-color: #188ce8;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding-top {
  padding-top: 0;
}

.section-title.hiden {
  display: none;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Преимущества */
.feature-list .title {
  color: var(--title-text-color);
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.photo {
  margin-bottom: 30px;
}

.team .member {
  color: var(--title-text-color);
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team .position {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* Футер */
.contacts-footer .link,
.contacts-footer .address {
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-footer .address {
  color: #ffffff;
}

/* Страница портфолио */
/* Фильтр кнопки */
.filter-list {
  margin-bottom: 34px;
}
.filter-btn {
  padding: 6px 22px;
  min-width: 73px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* Проекты */
.projects-photo {
  margin-bottom: 20px;
}
.projects .title {
  color: var(--title-text-color);
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .filter {
  color: var(--primary-text-color);
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.9;
}
